<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      <li>
        User name :: <%= @user["name"] %> 
      </li>
      <li>
        Email :: <%= @user["email"] %> is sucessfully subscribed for mbanumbers.com
      </li> 
    </ul>
    
  </body>
</html>