<%meta title: "Profile search | MBA numbers | Business School Rankings | mba numbers by ranking |  top ranked business schools | MBA Education | gmat MBA in USA | MBA Admissions @mbanumbers.com",
         description: "MBA numbers providing particular GMAT and GPA logins for students .We are the top most MBA education ,Business School Rankings ,mba numbers by ranking , top ranked business schools , MBA Education , gmat MBA in USA , MBA Admissions.",
         keywords: "MBA numbers , Business School Rankings, mba numbers by ranking , top ranked business schools , MBA Education , MBA Admissions , gmat MBA in USA.
"
    %>


<table>
	<tr>
	
  <% @member.each do |f|  %>
  
	<td><%= @member.username %></td>
  <% end %>
  	</tr>
</table>
