<%meta title: "Profile search | MBA numbers | Business School Rankings | mba numbers by ranking |  top ranked business schools | MBA Education | gmat MBA in USA | MBA Admissions @mbanumbers.com",
         description: "MBA numbers providing particular GMAT and GPA logins for students .We are the top most MBA education ,Business School Rankings ,mba numbers by ranking , top ranked business schools , MBA Education , gmat MBA in USA , MBA Admissions.",
         keywords: "MBA numbers , Business School Rankings, mba numbers by ranking , top ranked business schools , MBA Education , MBA Admissions , gmat MBA in USA.
"
    %>



<% @all_mebers.each do |am| %>
							<tr>
						<td colspan="3" style="padding:10px"> 
						<a href="<%= static_profile_path(am.username) %>"><%= am.username %></a>
						</td> 
						<td colspan="2" style="padding:10px"> <%= am.email %></td>					
							</tr>
						<% end %>